/*******************************************************
Slider default rounded
*******************************************************/
.checkbox-slider--a-rounded {
  position: relative;
}
.checkbox-slider--a-rounded input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0 0;
  cursor: pointer;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-slider--a-rounded input + span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-slider--a-rounded input + span:before {
  position: absolute;
  left: 0px;
  display: inline-block;
}
.checkbox-slider--a-rounded input + span > h4 {
  display: inline;
}
.checkbox-slider--a-rounded input + span {
  padding-left: 40px;
}
.checkbox-slider--a-rounded input + span:before {
  content: "";
  height: 20px;
  width: 40px;
  background: rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  transition: background 0.2s ease-out;
}
.checkbox-slider--a-rounded input + span:after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  background: #ffffff;
  transition: margin-left 0.1s ease-in-out;
  text-align: center;
  font-weight: bold;
  content: "";
}
.checkbox-slider--a-rounded input:checked + span:after {
  margin-left: 20px;
  content: "";
}
.checkbox-slider--a-rounded input:checked + span:before {
  transition: background 0.2s ease-in;
}
.checkbox-slider--a-rounded input + span:after {
  background: #ffffff;
  border: solid transparent 1px;
  background-clip: content-box;
}
.checkbox-slider--a-rounded input:checked + span:after {
  background: #5cb85c;
  border: solid transparent 1px;
  background-clip: content-box;
}
.checkbox-slider--a-rounded input + span:after,
.checkbox-slider--a-rounded input + span:before {
  border-radius: 4px;
}
.checkbox-slider--a-rounded input + span:after,
.checkbox-slider--a-rounded input:checked + span:after {
  border: solid transparent 2px;
  background-clip: content-box;
}
/******************************************************
State Disabled
*******************************************************/
.checkbox-slider--a-rounded input:disabled + span:after {
  background: #777777;
  color: #ffffff;
}
.checkbox-slider--a-rounded input:disabled + span {
  color: #777777;
}
